.root {
  min-height: 90vh;
  padding-top: 24px;
  margin-bottom: 100px;
  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  padding-bottom: 8px;
}

.underline {
  border-bottom: 1px solid #000;
  width: 30%;
  margin-bottom: 48px;
}

.subsections {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .subsections {
    flex-direction: column;
  }
}